<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/static/app.css"/>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Test</h1>

            <pre id="output"></pre>
            <script>
              c = new WebSocket('ws://localhost:9123/ws/max');
              
              send = function(data) {
                c.send(data);
              }

              c.onmessage = function(msg) {
                $("#output").append((new Date())+ " <== "+msg.data+"\n");
                console.log(msg);
              }

              // c.onopen = function(){
              //   setInterval( 
              //     function(){ send("ping") }
              //   , 1000 )
              // }
            </script>
        </div>
    </body>
</html>
